# Binaries
umu
umu-init
dns-local
*.exe

# Go
vendor/
*.test
*.out
cover.out
coverage.html

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Build
dist/
cmd-test
scaletozero-test

# Cross-compiled binaries
umu-linux
umu-linux-amd64
umu-init-linux
umu-init-linux-amd64

# Test artifacts
e2e_test.sh

umu.toml